* , *::before {
    margin: 0;
    padding: 0;
}
body {
    position: relative;
    direction: rtl;
    min-width: 100vw;
    overflow-x: hidden;
    margin: 0;
    padding: 0;
}
.navLink {
    transition: all 0.3s linear;
    position: relative;
}
.navLink.active {
    color: black;
}
.navLink::before   {
    content: "";
    position: absolute;
    bottom: 0;
    right: 0;
    width: 0;
    height: 3px;
    background-color: red;
    opacity: 0;
    transition: all 0.3s linear;
    
}

.navLink:hover::before , .navLink.active::before {
    display: block;
    opacity: 1;
    width: 100% !important;
}
section {
    min-height: 100vh;
    padding: 3rem 0;
}
.classLink {
    list-style-type: none;
    position: relative;
    padding-right: 25px;
}

.classLink::before {
    content: '\2713'; /* Unicode character for checkmark */
    position: absolute;
    right: 0;
    top: 60%;
    font-size: 16px; /* Adjust the size as needed */
    transform: translateY(-50%);
  }