*,
*::before {
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
}
html.dark {
    background-color : #18181b;
    color: #fff;
}

body {
    position: relative;
    direction: rtl;
    overflow-x: hidden;
    
}

.navLink {
    transition: all 0.3s linear;
    position: relative;
}

.navLink.active {
    color: black;
}

.navLink::before {
    content: "";
    position: absolute;
    bottom: 0;
    right: 0;
    width: 0;
    height: 3px;
    background-color: red;
    opacity: 0;
    transition: all 0.3s linear;

}

.navLink:hover::before,
.navLink.active::before {
    display: block;
    opacity: 1;
    width: 100% !important;
}

section {
    min-height: 100vh;
    padding: 5rem 0;
}

.classLink {
    list-style-type: none;
    position: relative;
    padding-right: 25px;
}

.classLink::before {
    content: '\2713';
    /* Unicode character for checkmark */
    position: absolute;
    right: 0;
    top: 60%;
    font-size: 16px;
    /* Adjust the size as needed */
    transform: translateY(-50%);
}

.prTitle {
    position: relative;
}

.prTitle::before {
    content: "";
    position: absolute;
    top: 60%;
    left: 0%;
    width: calc(50% - 50px);
    height: 2px;
    background-color: blue;
}
.prTitle::after {
    content: "";
    position: absolute;
    top: 60%;
    right: 0%;
    width: calc(50% - 50px);
    height: 2px;
    background-color: blue;
}
.prImage {
    filter: grayscale(1);
    transition: .3s linear;
    &:hover {
        filter: grayscale(0);
        transform: scale(1.1);
    }
}
footer {
    direction: ltr;
}
